.primary-btn{
    background-color: #6750A4 !important;
}

.primary-btn:hover{
    background-color: #473673 !important;
}

.secondary-btn {
    /*background-color: #90A4AE;*/
    background-color: #546E7A !important;
}

.secondary-btn:hover {
    background-color: #394852 !important;
}

.teal {
    background-color: #009688 !important;
}

.error {
    background-color: #FF6B6B !important;
}

.info {
    background-color: #5C8DF6 !important;
}

.success {
    background-color: #00BFA6 !important;
}

.mainBg {
    background-color: #23263C !important;
}

.mainBg:hover {
    background-color: #45475d !important;
}

.section-label {
  font-size: 0.875em;
  font-weight: 500;
  color: #6B7280;
  margin-bottom: 8px;
  display: inline-block;
}